
.cardHolder {
  padding: 15px;
  background:  rgba(222,179,255,1);
  box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
  border-radius: 20px;
}

.grow { transition: all .2s ease-in-out; }
.grow:hover { transform: scale(0.985); }

.buttonGrow { transition: all .2s ease-in-out; }
.buttonGrow:hover { transform: scale(1.2); }

.button {
  background: linear-gradient(90deg, rgba(207,143,255,1) 31%, rgba(166,255,156,1) 100%);
  transition: all 1s ease-in-out;
}

.button:hover {
  transform: scale(1.05); 
}
  @keyframes rotatee {
    from{transform:rotateX(0deg)}
    to {transform:rotateX(360deg)}   
  }
  
  .toto > span {
    animation: rotatee 4s linear infinite;
    display:inline-block;
  }

.gallery {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    -webkit-column-width: 33%;
    -moz-column-width: 33%;
    column-width: 33%;
    margin-top: 120px;
    margin-right: 150px;
    margin-left: 150px;
    padding: 0 12px;
}

.gallery .pics {
  padding-bottom: 15px;
}

  @media (max-width: 991px){
      .gallery {
          -webkit-column-count: 1;
          -moz-column-count: 1;
          column-count: 1;
          -webkit-column-width: 100%;
          -moz-column-width: 100%;
          column-width: 100%;
          margin-right: 150px;
          margin-left: 150px;
      }
}

@media (max-width: 600px){
  .gallery {
      -webkit-column-count: 1;
      -moz-column-count: 1;
      column-count: 1;
      -webkit-column-width: 100%;
      -moz-column-width: 100%;
      column-width: 100%;
      margin: 5px;
  }
}
